@font-face {
  font-family: "Noto Sans TC";
  src: url("../assets/NotoSansTC-Medium.otf");
}

@font-face {
  font-family: "Quote";
  src: url("../assets/Caveat-Medium.ttf");
  unicode-range: U+00-024F;
}

@font-face {
  font-family: "Quote";
  src: url("../assets/NotoSerifTC-Medium.otf");
  unicode-range: U+4E00-9FFF;
}

* {
  font-family: Noto Sans TC,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,"\5FAE\8EDF\6B63\9ED1\9AD4",Microsoft JhengHei,"\5FAE\8EDF\96C5\9ED1",Microsoft YaHei,Microsoft YaHei UI,"\860B\679C\5137\4E2D\9ED1",Apple LiGothic Medium,"\5137\9ED1   Pro",LiHei Pro Medium,sans-serif;
}

body {
  margin: 0;
  background-color: #242526;
}



/* Heading */
.heading {
  height: auto;
  width: 100%;
  background-color: #b0d0ff;
}

.heading h1 {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Cooper Black;
  font-weight: bold;
  font-size: 5.11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



/* Navigation Bar */
.navigation_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: #b1b7bd;
}

.navigation_bar li {
  height: 100%;
  float: left;
}

li.active a {
  background-color: white;
}

.navigation_bar a {
  height: 100%;
  width: 33vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #dddddd;
  font-size: 3.5vh;
  font-weight: bold;
  padding: 0.5% 0;
}




/* Quote */
.quote_container {
  display: block;
  margin: 0;
  width: 70%;
  height: 30%;
  margin-left: 15%;
  margin-top: 10%;
  padding: 5% 0;
  background-color: #33cccc;
  border-radius: 20px;
  box-shadow: 0px 5px 10px black;
}

h1#quote {
  height: 100%;
  width: 90%;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Quote, cursive;
  font-weight: bold;
  font-size: 3.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
