@font-face {
  font-family: "System";
  src: url("../assets/chinese_handwrite.ttf");
}

@font-face {
  font-family: "Quote";
  src: local("Playlist Script"), url("../assets/Playlist_Script.otf");
  unicode-range: U+00-024F;
}

@font-face {
  font-family: "Quote";
  src: url("../assets/chinese_handwrite.ttf");
  unicode-range: U+4E00-9FFF;
}

* {
  font-family: System, sans-serif;
}

body {
  margin: 0;
  background-image: url("../assets/background.jpg");
  background-size: 100vw 100vh;
}



/* Heading */
.heading {
  height: auto;
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh 0;
  padding-left: 4%;
}

.heading img {
  height: 11vh;
}



/* Navigation Bar */
.navigation_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 5%;
  overflow: hidden;
  height: 8vh;
  background-color: #767676;
  display: flex;
  justify-content: flex-start;
}

.navigation_bar li {
  display: block;
  height: 8vh;
  width: 20%;
}

li.active a {
  background-color: #767676;
}

.navigation_bar a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #767676;
  font-size: 3.5vh;
  font-weight: bold;
  padding: 0.5% 0;
}




/* Quote */
.quote_container {
  display: block;
  margin: 0;
  width: 70%;
  height: 30%;
  margin-left: 15%;
  margin-top: 10%;
  padding: 5% 0;
  border-radius: 20px;
  opacity: 0.9;
}

h1#quote {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Quote, cursive;
  font-weight: bold;
  font-size: 5vh;
  text-align: center;
  color: #123460;
}
